.search {
  margin: 0 auto;
  border: 1px solid black;
  padding: 10px;
  background-color: white;
  font-size: 10px;
}

.input-block {
  display: flex;
  flex-direction: column;

  input {
    font-size: 10px;
    margin-top: 5px;
  }
}

.error {
  font-size: 8px;
  color: red;
}

.search-button {
  margin-top: 5px;
}
